body {
        margin: 0;
        padding: 0;
    }

    .background {
        background-image:url('../../assets/bg-cloud.jpg');
        background-repeat: repeat-y;
        background-position: center top;
        background-size: cover;
        animation: scroll 20s linear infinite;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .bg-playing .logo {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 75%;
        max-height: 50%;
    }

    img.playing-gif {
        transform: rotate(-90deg);
        margin-right: 15%;
        z-index: 5;
    }

    @keyframes scroll {
        from {background-position: center 0;}
        to {background-position: center calc(100% - 100vh);}
    }

    @media screen and (max-width:500px) {
        img.playing-gif {
            width: 45%;
            transform: rotate(-90deg);
            margin-left: 30%;
        }
    }